<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/cart.css">
    <title>Kosár</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="home.html">FŐOLDAL</a></li>
            <li><a href="menu.html">ÉTLAP</a></li>
            <li><a href="#" class="active">KOSÁR</a></li>
            <li><a href="register.html">BEJELENTEKEZÉS</a></li>
        </ul>
    </nav>
    
    <div id="cart-container">
        <h1 class="tangerine-bold">Kosár</h1>
        <div id="cart-items"></div>
        <button id="checkout-button">Fizetés</button>
    </div>

    <script src="../Assets/js/cart.js"></script>
</body>
</html>
