<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/menu.css">
    <link rel="stylesheet" href="../Assets/css/home.css">
    <link rel="stylesheet" href="../Assets/css/checkout.css">
    <link rel="stylesheet" href="../Assets/css/loading.css">
    <title>Restaurant Cart</title>
</head>
<body>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="../Views/home.html"><img src="../Assets/images/logo.png" alt="logo" class="nav__logo-dark"/></a>
                <a href="../Views/home.html"><img src="../Assets/images/logo2.png" alt="logo" class="nav__logo-white" /></a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>

        <ul class="nav__links" id="nav-links">
            <li><a href="home.html" title="Főoldal">FŐOLDAL</a></li>
            <li><a href="menu.html" title="Étlap">ÉTLAP</a></li>
            <li id="login"><a href="../Views/register.html">BEJELENTEKEZÉS</a></li>
            <li id="profile" style="display: none;"><a href="../Views/profile.html">PROFIL</a></li>
            <li id="logout" style="display: none;"><a href="#">KIJELENTKEZÉS</a></li>
        </ul>
    </nav>
    <div id="main">
        <h1>Cart</h1>
        <hr>
        <div id="cart-container"></div>
        <p>Total Amount: <span id="total-amount">0</span> Ft</p>
        <form id="checkout-form">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>
    <div id="loading" class="loading-overlay" style="display: none;">
        <div class="loading-spinner">
            <img src="../Assets/images/logo.png" id="loading_img" alt="Loading..." class="loading-logo">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
        <div id="message">Loading...</div>
    </div>
    <script src="../Assets/js/checkout.js"></script>
    <script src="../Assets/js/logout.js"></script>
</body>
</html>