<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    <link rel="stylesheet" href="../Assets/css/checkout.css">
    <link rel="stylesheet" href="../Assets/css/home.css">
    <link rel="stylesheet" href="../Assets/css/menu.css">
    <link rel="icon" type="image/x-icon" href="../Assets/images/logo.png">
    <title>Grillezett Álom</title>
</head>
<body>
  <nav>
    <div class="nav__header">
      <div class="nav__logo">
            <a href="../Views/home.html"><img src="../Assets/images/logo.png" alt="logo" class="nav__logo-dark"/></a>
            <a href="../Views/home.html"><img src="../Assets/images/logo2.png" alt="logo" class="nav__logo-white" /></a>
      </div>
      <div class="nav__menu__btn" id="menu-btn">
        <i class="ri-menu-line"></i>
      </div>
    </div>

    <ul class="nav__links" id="nav-links">
      <li><a href="menu.html" title="Étlap">ÉTLAP</a></li>
      <li id="checkout"><a href="checkout.html" title="Kosár">KOSÁR</a></li>
      <li id="login" ><a href="../Views/register.html">BEJELENTEKEZÉS</a></li>
      <li id="profile" style="display: none;"><a href="../Views/profile.html">PROFIL</a></li>
      <li id="logout" style="display: none;"><a href="#">KIJELENTKEZÉS</a></li>
    </ul>
  </nav>

    <div id="main">
        <h1>Kosár</h1>
       
        <div id="cart-container"></div>
        <p id="totalprice">Összesen: <span id="total-amount">0</span> Ft</p>
        <form id="checkout-form">
            <button class="checkout-button">
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="24"
                      height="24"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        fill="currentColor"
                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <span>Rendelés</span>
              </button>
        </form>
    </div>
    <div id="popup" class="popup" style="display: none;">
        <div class="popup-content">
          <h3>Sikeres rendelés!</h3>
            <p id="pickup-time"></p>
            <button id="close-popup" class="popup-button">Bezárás</button>
            <button id="go-to-profile" class="popup-button">Tovább a profilodhoz</button>
        </div>
    </div>
    
    <script src="../Assets/js/checkout.js"></script>
    <script src="../Assets/js/logout.js"></script>
    
</body>
</html>