<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"rel="stylesheet"/>
    <link rel="stylesheet" href="../Assets/css/home.css" /> 
    <link rel="stylesheet" href="../Assets/css/slideshow.css">
    <script src="../Assets/js/slideshow.js"></script>
    <title>Grillezett Álom</title>
  </head>
  <body>

    <header class="header">
      <nav>
        <div class="nav__header">
          <div class="nav__logo">
                <img src="../Assets/images/logo.png" alt="logo" class="nav__logo-dark"/>
              <img src="../Assets/images/logo2.png" alt="logo" class="nav__logo-white" />
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>

        <ul class="nav__links" id="nav-links">
          <li><a href="#about" title="Rólunk">RÓLUNK</a></li>
          <li><a href="menu.html" title="Étlap">ÉTLAP</a></li>
          <li><a href="#" title="Kosár">KOSÁR</a></li>
          <li><a href="../Views/register.html">BEJELENTEKEZÉS</a></li>
        </ul>
      </nav>

      <div class="section__container header__container" id="home">
        <div class="header__image">
          
        </div>
        <div class="header__content">
          <h2>Jó idő arra, hogy jó burgereket kostólj</h2>
          <h1>GRILLEZETT<br /><span>ÁLOM</span></h1>
        </div>
      </div>
    </header>

    <section class="section__container about__container"  id="about">
      
      <div class="about__image"> 
        <img src="../Assets/images/logo.png" alt="Rólunk kép">
      </div>
      <div class="about__content">
        <h2>Rólunk</h2> 
        <p>
          Üdvözlünk a Grillezett Álom világában, ahol a szenvedély és az ízek találkoznak! 
          Éttermünk az autentikus grillezett ételek szerelmeseinek készült, és célunk, 
          hogy minden vendégünknek felejthetetlen gasztronómiai élményt nyújtsunk. 
          Friss, minőségi alapanyagokból dolgozunk, és nagy hangsúlyt fektetünk a részletekre.
        </p>
        <p>
          Látogass el hozzánk, és fedezd fel a tökéletesen grillezett húsok, 
          különleges szószok és ínycsiklandó köretek világát!
        </p>
        <h1 id="team_member">Csapatunk tagjai</h1>
        <p></p>
        <h3 class="team_name">Huszár Martin</h3>
        <h3 class="team_name">Réti Ármin</h3>
      </div>
    </section>

    <section class="section__container order__container" id="funfacts">
      
      <div class="order__grid" id="about">
        <div class="fact__card">
          <img src="../Assets/images/svgs/serve.svg"  style="height: 90px; margin-bottom: 10px;"/>
          <h4>Kedves, gyors kiszolgálás</h4>
          <p>
            Várakozás nélkül az élményért – nálunk a gyors kiszolgálás alap! 
            Ételeinket frissen, gyorsan és odafigyeléssel készítjük, hogy Önnek már csak élveznie kelljen a pillanatot.
          </p>
          
        </div>
        <div class="fact__card">
          <img src="../Assets/images/svgs/house.svg" style="height: 90px; margin-bottom: 10px;"/>
          <h4>Különleges kinézet</h4>
          <p>
            Éttermünk egy különleges hely, ahol a hangulat legalább annyira magával ragadó, mint az ízek. 
            Lépjen be, és hagyja, hogy a helyszín egyedi varázsa magával sodorja!
          </p>
          
        </div>
        <div class="fact__card">
          
          <img src="../Assets/images/svgs/hamburger.svg" style="height: 90px; margin-bottom: 10px;" />
          <h4>Eredeti amerikai ételek</h4>
          <p>
            Amerika legjobb ízei itt, az éttermünkben! 
            Fedezze fel a tengerentúli ízeket, melyek minden falatban hoznak valami újat és izgalmasat – a hamburgertől a BBQ különlegességekig!
          </p>
         
        </div>
      </div>
    </section>
   


   
    


    <!-- <section class="section__container" id="menu" style="background-color: #eebc7a;">
      <div class="menu_fact">
        <a href="../Views/menu.html"><img src="../Assets/images/svgs/menu.svg" id="menu_svg"></a>
        <h1 style="font-size: 40px;">Étlap</h1>
        <div style="float: left;" >
          <u><p>Frissen készített húsok hazai termelőktől</p></u>
          <li>BBQ csirkeszárnyak</li>
          <li>Nyílt tűzön készített steak</li>
          <li>Nyárson sült szalonnák</li>
        </div>
        <center><div>
        <u><p>Frissen készített köretek</p></u>
        <li>Héjában sült burgonya</li>
        <li>Sült burgonya</li>
        <li>Mexikói pirított tortilla</li>
      </div></center>
      <div style="float: right;">
        <u><p>Saját készítésű hűsítő italok</p></u>
        <li>Sárkánygyümölcsös limonádé</li>
        <li>Citrom-Lime limonádé</li>
        <li>Ice teák</li>
      </div>
        <p></p>
        
      </div>
      
    </section> -->


    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo">
          <img src="../Assets/images/logo.png" alt="logo" />
        </div>
        <div class="footer__content">
          <p>
            
          </p>
          <div>
            <ul class="footer__links">
              <li>
                <span><i class="ri-map-pin-2-fill"></i></span>
                Székesfehérvár, Budai út 43-45, 8000
              </li>
              <li>
                <span><i class="ri-mail-fill"></i></span>
                info@grillezettalom.com
              </li>
            </ul>
            <div class="footer__socials">
              
              <a href="#"><i class="ri-instagram-fill"></i></a>
              <a href="#"><i class="ri-facebook-circle-fill"></i></a>
              <a href="#"><i class="ri-twitter-fill"></i></a>
              
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2024 Grillezett Álom
      </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="main.js"></script>
  </body>
</html>