<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"rel="stylesheet"/>
    <link rel="stylesheet" href="../Assets/css/home.css" /> 
    <link rel="stylesheet" href="../Assets/css/about.css">
    <link rel="icon" type="image/x-icon" href="../Assets/images/logo.png">
    <title>Grillezett Álom</title>
  </head>
  <body>

    <header class="header">
      <nav>
        <div class="nav__header">
          <div class="nav__logo">
                <a href="../Views/home.html"><img src="../Assets/images/logo.png" alt="logo" class="nav__logo-dark"/></a>
                <a href="../Views/home.html"><img src="../Assets/images/logo2.png" alt="logo" class="nav__logo-white" /></a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>

        <ul class="nav__links" id="nav-links">
          <li><a href="menu.html" title="Étlap">ÉTLAP</a></li>
          <li id="checkout"><a href="checkout.html" title="Kosár">KOSÁR</a></li>
          <li id="login" ><a href="../Views/register.html">BEJELENTEKEZÉS</a></li>
          <li id="profile" style="display: none;"><a href="../Views/profile.html">PROFIL</a></li>
          <li id="logout" style="display: none;"><a href="#">KIJELENTKEZÉS</a></li>
        </ul>
      </nav>

      <div class="section__container header__container" id="home">
        <div class="header__image">
          
        </div>
        <div class="header__content">
          <h2>Jó idő arra, hogy jó burgereket kostólj</h2>
          <h1>GRILLEZETT<br /><span>ÁLOM</span></h1>
        </div>
      </div>
    </header>

    <section class="section__container about__container"  id="about">
      <div class="about__image"> 
        <img src="../Assets/images/logo.png" alt="Rólunk kép">
      </div>
      <div class="about__content">
        <h2>Rólunk</h2> 
        <p>
          Üdvözlünk a Grillezett Álom világában, ahol a szenvedély és az ízek találkoznak! 
          Éttermünk az autentikus grillezett ételek szerelmeseinek készült, és célunk, 
          hogy minden vendégünknek felejthetetlen gasztronómiai élményt nyújtsunk. 
          Friss, minőségi alapanyagokból dolgozunk, és nagy hangsúlyt fektetünk a részletekre.
        </p>
        <p>
          Látogass el hozzánk, és fedezd fel a tökéletesen grillezett húsok, 
          különleges szószok és ínycsiklandó köretek világát!
        </p>
        <h1 id="team_member">Csapatunk tagjai</h1>
        <p></p>
        <h3 class="team_name">Huszár Martin</h3>
        <h3 class="team_name">Réti Ármin</h3>
      </div>
    </section>

    <section class="section__container order__container" id="funfacts">
      <div class="order__grid" id="about">
        <div class="fact__card">
          <img src="../Assets/images/svgs/serve.svg"  style="height: 90px; margin-bottom: 10px;"/>
          <h4>Kedves, gyors kiszolgálás</h4>
          <p>
            Várakozás nélkül az élményért – nálunk a gyors kiszolgálás alap! 
            Ételeinket frissen, gyorsan és odafigyeléssel készítjük, hogy Önnek már csak élveznie kelljen a pillanatot.
          </p>
        </div>
        <div class="fact__card">
          <img src="../Assets/images/svgs/house.svg" style="height: 90px; margin-bottom: 10px;"/>
          <h4>Különleges kinézet</h4>
          <p>
            Éttermünk egy különleges hely, ahol a hangulat legalább annyira magával ragadó, mint az ízek. 
            Lépjen be, és hagyja, hogy a helyszín egyedi varázsa magával sodorja!
          </p>
        </div>
        <div class="fact__card">
          <img src="../Assets/images/svgs/hamburger.svg" style="height: 90px; margin-bottom: 10px;" />
          <h4>Eredeti amerikai ételek</h4>
          <p>
            Amerika legjobb ízei itt, az éttermünkben! 
            Fedezze fel a tengerentúli ízeket, melyek minden falatban hoznak valami újat és izgalmasat – a hamburgertől a BBQ különlegességekig!
          </p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__logo">
          <img src="../Assets/images/logo.png" alt="logo" />
        </div>
        <div class="footer__content">
          <ul class="footer__links">
            <li>
              <span><i class="ri-map-pin-2-fill"></i></span>
              Székesfehérvár, Budai út 43-45, 8000
            </li>
            <li>
              <span><i class="ri-mail-fill"></i></span>
              info@grillezettalom.com
            </li>
          </ul>
          
        </div>
      </div>
      <div class="footer__bar">
        Copyright © 2024 Grillezett Álom
      </div>
    </footer>

    <!-- Logout Confirmation Modal -->
    <div id="logoutModal" class="modal">
      <div class="modal-content">
        <h3>Kijelentkezés</h3>
        <p>Biztosan ki szeretne jelentkezni?</p>
        <div class="modal-buttons">
          <button id="confirmLogout" class="confirm-btn">Igen</button>
          <button id="cancelLogout" class="cancel-btn">Nem</button>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../Assets/js/main.js"></script>
    <script src="../Assets/js/logout.js"></script>
    <script src="../Assets/js/navbar.js"></script>
    
  </body>
</html>