<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/home.css">
    <link rel="stylesheet" href="../Assets/css/menu.css">
    <link rel="icon" type="image/x-icon" href="../Assets/images/logo.png">
    <title>Grillezett Álom</title>
</head>
<body>
    <nav>
        <div class="nav__header">
          <div class="nav__logo">
                <a href="../Views/home.html"><img src="../Assets/images/logo.png" alt="logo" class="nav__logo-dark"/></a>
             <a href="../Views/home.html"> <img src="../Assets/images/logo2.png" alt="logo" class="nav__logo-white" /></a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>

        <ul class="nav__links" id="nav-links">
          <li><a href="home.html" title="Főoldal">FŐOLDAL</a></li>
          <li><a href="checkout.html" title="Kosár">KOSÁR</a></li>
          <li id="login"><a href="../Views/register.html">BEJELENTEKEZÉS</a></li>
          <li id="profile" style="display: none;"><a href="../Views/profile.html">PROFIL</a></li>
          <li id="logout" style="display: none;"><a href="#">KIJELENTKEZÉS</a></li>
        </ul>
      </nav>
    <div id="main">
    <h1 class="tangerine-bold">Étlap</h1>
    
    <hr>
    <div id="menu-container"></div>

    </div>  
    <div id="popup" class="popup">
        <div class="popup-content">
            <p>Sikeresen hozzáadtad a kosárhoz!</p>
            <button id="continue-shopping" class="popup-button">Tovább vásárolok</button>
            <button id="go-to-cart" class="popup-button">Kosárhoz</button>
        </div>
    </div>
    <script src="../Assets/js/menu.js"></script>
    <script src="../Assets/js/logout.js"></script>
    
</body>
</html>
