<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../Assets/css/home.css">
    <link rel="stylesheet" href="../Assets/css/profile.css">
    <link rel="stylesheet" href="../Assets/css/loading.css">
    <script src="../Assets/js/profile.js"></script>
</head>
<body>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="../Views/home.html"><img src="../Assets/images/logo.png" alt="logo" class="nav__logo-dark"/></a>
                <a href="../Views/home.html"><img src="../Assets/images/logo2.png" alt="logo" class="nav__logo-white" /></a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>

        <ul class="nav__links" id="nav-links">
            <li><a href="home.html" title="Főoldal">FŐOLDAL</a></li>
            <li><a href="menu.html" title="Étlap">ÉTLAP</a></li>
            <li><a href="checkout.html" title="Kosár">KOSÁR</a></li>
            <li id="login"><a href="../Views/register.html">BEJELENTEKEZÉS</a></li>
            <li id="profile" style="display: none;"><a href="../Views/profile.html">PROFIL</a></li>
            <li id="logout" style="display: none;"><a href="#">KIJELENTKEZÉS</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="profile-header">
            <h2>User Profile</h2>
        </div>
        <form id="profile-form" class="profile-form">
            <div class="form-group">
                <label for="Lastname">Last Name:</label>
                <input type="text" id="Lastname" name="Lastname">
            </div>
            <div class="form-group">
                <label for="Firstname">First Name:</label>
                <input type="text" id="Firstname" name="Firstname">
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email">
            </div>
            <button type="submit">Update Profile</button>
        </form>
        <div id="loading" class="loading-overlay" style="display: none;">
            <div class="loading-spinner">
                <img src="../Assets/images/logo.png" id="loading_img" alt="Loading..." class="loading-logo">
                <div class="spinner">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
            </div>
            <div id="message">Betöltés...</div>
        </div>
        <div class="orders-section">
            <h2>Previous Orders</h2>
            <div id="orders-container"></div>
        </div>
    </div>
    <script src="../Assets/js/logout.js"></script>
</body>
</html>
