<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../Assets/css/profile.css">
    <link rel="stylesheet" href="../Assets/css/home.css">
    <link rel="icon" type="image/x-icon" href="../Assets/images/logo.png">
    <title>Grillezett Álom</title>
</head>
<body>
    <nav>
        <div class="nav__header">
          <div class="nav__logo">
                <a href="../Views/home.html"><img src="../Assets/images/logo.png" alt="logo" class="nav__logo-dark"/></a>
                <a href="../Views/home.html"><img src="../Assets/images/logo2.png" alt="logo" class="nav__logo-white" /></a>
          </div>
          <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
          </div>
        </div>

        <ul class="nav__links" id="nav-links">
            <li><a href="menu.html" title="Étlap">ÉTLAP</a></li>
            <li id="checkout"><a href="checkout.html" title="Kosár">KOSÁR</a></li>
            <li id="login" ><a href="../Views/register.html">BEJELENTEKEZÉS</a></li>
            <li id="logout" style="display: none;"><a href="#">KIJELENTKEZÉS</a></li>
        </ul>
      </nav>
   

    <div class="container">
        <div class="profile-section">
            <div class="profile-header">
                <h2>Személyes adatok</h2>
            </div>
            <form id="profile-form" class="profile-form">
                <div class="form-group">
                    <label for="Lastname">Vezetéknév</label>
                    <input type="text" id="Lastname" name="Lastname">
                </div>
                <div class="form-group">
                    <label for="Firstname">Keresztnév</label>
                    <input type="text" id="Firstname" name="Firstname">
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" id="Email" name="Email">
                </div>
                <div class="form-buttons">
                    <button type="submit" id="save">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    width="30"
                                    height="30"
                                    class="icon"
                                >
                                    <path
                                        d="M22,15.04C22,17.23 20.24,19 18.07,19H5.93C3.76,19 2,17.23 2,15.04C2,13.07 3.43,11.44 5.31,11.14C5.28,11 5.27,10.86 5.27,10.71C5.27,9.33 6.38,8.2 7.76,8.2C8.37,8.2 8.94,8.43 9.37,8.8C10.14,7.05 11.13,5.44 13.91,5.44C17.28,5.44 18.87,8.06 18.87,10.83C18.87,10.94 18.87,11.06 18.86,11.17C20.65,11.54 22,13.13 22,15.04Z"
                                    ></path>
                                </svg>
                            </div>
                        </div>
                        <span>Mentés</span>
                    </button>
                    
                    <button type="button" id="delete-account" class="delete-account-btn">Delete Account</button>
                </div>
            </form>
        </div>
        <div class="orders-section">
            <h2>Elöző rendeléseid</h2>
            <div id="orders-container" class="orders-container"></div>
        </div>
    </div>

 
    <div id="save-popup" class="popup-overlay" style="display: none;">
        <div class="popup-content">
            <h2>Profil mentve</h2>
            <p>A változtatások mentése sikeresen megtörtént.</p>
            <button id="close-save-popup">Bezárás</button>
        </div>
    </div>

    <div id="delete-popup" class="popup-overlay" style="display: none;">
        <div class="popup-content">
            <h2>Fiók törlése</h2>
            <p>Biztos vagy benne hogy törlöd a fiókodat? A törlés nem visszavonható.</p>
            <button id="confirm-delete">Igen, törlés</button>
            <button id="cancel-delete">Mégse</button>
        </div>
    </div>

   


    <div id="logoutModal" class="modal">
        <div class="modal-content">
          <h3>Kijelentkezés</h3>
          <p>Biztosan ki szeretne jelentkezni?</p>
          <div class="modal-buttons">
            <button id="confirmLogout" class="confirm-btn">Igen</button>
            <button id="cancelLogout" class="cancel-btn">Nem</button>
          </div>
        </div>
      </div>
  




    <script src="../Assets/js/profile.js"></script>
    <script src="../Assets/js/logout.js"></script>
    <script src="../Assets/js/navbar.js"></script>
</body>
</html>
