<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin">
    <link rel="stylesheet" href="../Assets/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../Assets/images/logo.png">
    <title>Grillezett Álom</title>
  </head>
   
<body>
  
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="../Assets/images/login_slide.jpg" alt="">
        <div class="text">
          <span class="text-1">Mindig evés közben <br> jön meg az étvágy</span>
          <span class="text-2">Próbáld ki, hogy igaz-e</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="../Assets/images/register_slide.jpg" alt="">
        <div class="text">
          <span class="text-1">Ízek, amik összehoznak<br> minden falat egy élmény</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Bejelentkezés</div>
            <form id="loginForm">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="text" id="login_Email" placeholder="Email cím" required title="Írja be email címét">
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="login_Password" placeholder="Jelszó" required title="Írja be jelszavát">
                </div>
                <div class="text"><a href="#" style="text-decoration: none; color: #722F37;" >Elfelejtette jelszavát?</a></div>
                <div class="button input-box">
                  <input type="submit" value="Bejelentkezés" title="Bejelentkezés">
                </div>
                <div class="text sign-up-text">Még nincsen fiókja? <label for="flip">Regisztráljon most</label></div>
              </div>
            </form>
            
           
            <div class="button input-box">
              
            </div>
            <center><a href="home.html"><img src="../Assets/images/svgs/back_to_the_main_page.svg" style="width: 60px;" alt=""></a></center>
          </div>

          <div class="signup-form">
            <div class="title">Regisztráció</div>
            <form id="registrationForm">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <input type="text" id="Lastname" placeholder="Vezetéknév" required title="Írja be vezetéknevét">
                </div>
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <input type="text" id="Firstname" placeholder="Keresztnév" required title="Írja be keresztnevét">
                </div>
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="text" id="Email" placeholder="Email cím" required title="Írja be email címét">
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" id="Password" placeholder="Jelszó" required title="Írja be jelszavát">
                </div>
                <div class="button input-box">
                  <input type="submit" value="Regisztráció" title="Regisztrálás">
                </div>
                <div class="text sign-up-text">Már van fiókja <label for="flip">Jelentkezzen be</label></div>
              </div>
            </form>
        
            <div class="button input-box">
            </div>
            <center><a href="home.html"><img src="../Assets/images/svgs/back_to_the_main_page.svg" style="width: 60px;" alt=""></a></center>
          </div>
        </div>
    </div>
  </div>
  
  <script src="../Assets/js/login.js"></script>
  <script src="../Assets/js/register.js"></script>
</body>
</html>
