*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url('../images/login.jpg') ;
}

#main{
    width: 65%;
    margin: auto;
    background-color: blue;
    border: solid 1px black;
    border-radius: 25px;
    padding: 35px;
}

#menu-container{
    padding: 10px;
}

.category{
    font-size: 35px;
    border-bottom: 2px solid black;
}


