*{
    margin: 0;
    padding: 0;
}

body{
    
    background-image:url('../images/profile_bg.jpg') ;
    background-position: center ;
    background-size: cover;
    
    
    
    
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
  }
  

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 25px;
}

hr{
    
    border: 1px solid black;
    
}

#main{
    width: 65%;
    margin: auto;
    background-color: rgba(248, 248, 248, 0.356);   
    border-radius: 5px;
    backdrop-filter: blur(6px);
    padding: 35px;
}

#menu-container{
    padding: 10px;
}

.category{
    font-size: 40px;
    border-bottom: 2px solid black;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted #afafaf8e;
}

.order-button{
    margin-left: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #722f3700;
    float: inline-end;
}

/* Add to cart button*/

.plusButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #722F37;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  .plusButton:hover {
    background-color: #441c21;
  }
  
  .plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton>.plusIcon {
    fill: white;
    width: 20px;
    height: 20px;
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusIcon {
    fill: white;
    width: 20px;
    height: 20px;
  }

/* Popup window */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.popup-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #722F37;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-button:hover {
    background-color: #441c21;
}
